@model Armoniza.Domain.Entities.apartado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>apartado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechadado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechadado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecharegreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecharegreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecharetornado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecharetornado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idUsuarioNavigation.correo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
